body {
  margin: 12px;
  font-family: HKGrotesk, sans-serif;
  color: #333;
  background-color: EEEEEE;
}
nav {
  border-radius: 10px;
  background-color: powderblue;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

input,
button {
  padding: 0.5rem;
}

form {
  border: solid 1px black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 1rem;
}

.container-fluid {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 33.333333%;
  margin: 10px;
  padding: 5px;
}

.card-price {
  font-weight: bold;
}

.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.link {
  font-weight: bold;
  font-size: x-large;
}

ul {
  padding: 0;
}

li {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

div > ul > li {
  border-bottom: solid 1px teal;
}

li > * {
  margin-bottom: 0.5rem;
}

.quantity {
  color: teal;
  font-weight: bold;
}
.fa {
  font-size: 25px;
}

.checked {
  color: orange;
}

.quantity-field {
  width: 40px;
  height: 40px;
  text-align: center;
}

.btn-number {
  background-color: gray;
  border-color: gray;
  font-weight: bolder;
}
.wrapper {
  height: 28rem;
  width: 15rem;
  margin: 6px;
  background: white;
  position: relative;
  border-radius: 25px 25px 25px 25px;
  box-shadow: 0;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
}
.wrapper:hover {
  transform: scale(1);
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}
.avatar {
  height: 70px;
  width: 70px;
  border-radius: 15px;
}
.prod-img {
  border-radius: 20px;

  padding-top: 10px;
}
.prod-container {
  background-color: lightgray;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 20px;
}
.card-img-top {
  border-radius: 25px;
}
.card-user {
  background-color: lightgray;
  margin: 10px;
  padding: 10px;
  width: 400px;
  border-radius: 15px;
}
.outer-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cartbox {
  width: 80%;
}
.totalsbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.totals {
  display: flex;
  flex-direction: column;
}
.totalbutton {
  background-color: orange;
  color: black;
  font-weight: bolder;
  font-size: x-large;
}
.relativeBox {
  position: relative;
}
.fixedBox {
  position: fixed;
}
.alert {
  width: 200px;
}
.entriesbox {
  margin-left: 10px;
}
.shipping-select {
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
}
